<%-include("layouts/header")%> 
<h1 class="text-3xl text-black">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae sequi impedit et quibusdam alias at a odit, necessitatibus minima accusantium aut quo est neque! Nemo, ratione praesentium? Voluptates, omnis. Aut.</h1>
</body>
</html>